
  <div class="edit-container">
    <h2>To edit</h2>
    <%= form_with(model: @task, local: true) do |form| %>

      <% if @error %>
        <div class="error-message" ><%= @error %></div>
      <% end %>

      <%= form.text_field :title, placeholder: "タイトル" %>
      <%= form.text_area :details, placeholder: "詳細" %>
      <%= form.date_select :deadline, placeholder: "deadline" %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"task-category"}) %>
      <%= form.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"select-box", id:"task-priority"}) %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>