<%= render "shared/header" %>

<div class="new-title">
  <%# getElementByIdを用いてフォームに入力された情報を取得するため、id: を追加 %>
  <%= form_with(url: "tasks/create", model: @task, method: :post, local: true, id: "form") do |form| %>
  <%# getElementByIdを用いてtitleに入力された情報を取得、リセットするため、id: を追加 %>
    <%= form.text_field :title, placeholder: "タイトル", id: "title" %>
    <%# getElementByIdを用いてsubmitボタンの情報を取得するため、id: を追加 %>
    <%= form.submit "Create a task", id: "submit" %>
  <% end %>
</div>

<div class="tasks">
  <% if @no_deadline != [] %>
    <div class="no-deadline-comment">期限なし</div>
  <% end %>
  <div id="task-list"></div><%# 作成後にタスクを追加する要素 %>
  <% @no_deadline.each do |task| %>
    <div class="task">
      <p>
        <%= link_to "/tasks/#{task.id}", method: :delete do %>
          <i class="far fa-check-circle fa-lg"></i>
        <% end %>
        <%= link_to(task.title, task_path(task.id), {class: "no-deadline"}) %>
      </p>
    </div>
  <% end %>
  <% if @expired != [] %>
  <div class="expired-comment">期限超過</div>
  <% end %>
  <% @expired.each do |task| %>
  <div class="task">
    <p>
      <%= link_to "/tasks/#{task.id}", method: :delete do %>
          <i class="far fa-check-circle fa-lg"></i>
      <% end %>
      <%= link_to "/tasks/#{task.id}/repeat", method: :post do %>
          <i class="fas fa-redo-alt fa-lg"></i>
      <% end %>
      <%= link_to(task.title, task_path(task.id), {class: "expired"}) %>
    </p>
  </div>
  <% end %>
  <% if @today != [] %>
    <div class="today-comment">今日</div>
  <% end %>
  <% @today.each do |task| %>
  <div class="task">
    <p>
      <%= link_to "/tasks/#{task.id}", method: :delete do %>
          <i class="far fa-check-circle fa-lg"></i>
      <% end %>
      <%= link_to "/tasks/#{task.id}/repeat", method: :post do %>
          <i class="fas fa-redo-alt fa-lg"></i>
      <% end %>
      <%= link_to(task.title, task_path(task.id), {class: "today"}) %>
    </p>
  </div>
  <% end %>
  <% if @far_away != [] %>
  <div class="far-away-comment">明日以降</div>
  <% end %>
  <% @far_away.each do |task| %>
  <div class="task">
    <p>
      <%= link_to "/tasks/#{task.id}", method: :delete do %>
          <i class="far fa-check-circle fa-lg"></i>
      <% end %>
      <%= link_to "/tasks/#{task.id}/repeat", method: :post do %>
          <i class="fas fa-redo-alt fa-lg"></i>
      <% end %>
      <%= link_to(task.title, task_path(task.id), {class: "far-away"}) %>
    </p>
  </div>
  <% end %>
</div>

<%= render "shared/footer" %>