<%= render "shared/header" %>

  <div class="new-container">
    <h2>タスク作成</h2>
    <%= form_with(model: @task, local: true) do |form| %>

      <%= render 'shared/error_messages', model: form.object %>

      <%= form.text_field :title, placeholder: "タイトル" %>
      <%= form.text_area :details, placeholder: "詳細" %>
      <div class="select-date">
        <%= raw sprintf(form.date_select(:deadline, use_month_numbers: true, date_separator: '%s'),"<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
      <div class="new-select">
        <%= form.collection_select(:category_id, Category.all, :id, :name, {include_blank: 'カテゴリー選択'}, {class:"select-box", id:"task-category"}) %>
        <%= form.collection_select(:priority_id, Priority.all, :id, :name, {include_blank: '優先度選択'}, {class:"select-box", id:"task-priority"}) %>
      </div>
      <%= form.submit "作成" %>
    <% end %>
  </div>

<%= render "shared/footer" %>