
  <div class="new-container">
    <h2>Create a task</h2>
    <%= form_with(model: @task, local: true) do |form| %>

      <%= render 'shared/error_messages', model: form.object %>

      <%= form.text_field :title, placeholder: "title" %>
      <%= form.text_area :details, placeholder: "details" %>
      <%= form.date_select :deadline, placeholder: "deadline" %>
      <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"task-category"}) %>
      <%= form.collection_select(:priority_id, Priority.all, :id, :name, {}, {class:"select-box", id:"task-priority"}) %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>