<div class="show_con">
  <ul class="show_list">
    <li>タイトル：<%= @task.title %></li>
    <li>詳細：<%= @task.details %></li>
    <li>期限：<%= @task.deadline %></li>
    <li>カテゴリー：<%= @task.category.name %></li>
    <li>優先度：<%= @task.priority.name %></li>
  </ul>
  <%= link_to '編集', edit_task_path(@task.id), method: :get %>
  <%= link_to '削除', "/tasks/#{@task.id}", method: :delete %>
</div>