<div class="top-about">

  <div class="top-about-3">
    <div class="top-about-3-1">
      <div class="top-about-3-1-1">
        <h1>ToDo App</h1>
      </div>
      <div class="top-about-3-1-2">
        <%= link_to "ログイン", new_user_session_path, class: "top-login" %>
        <%= link_to "新規登録", new_user_registration_path, class: "top-sign-up" %>
      </div>
    </div>
    <div class="top-about-3-2">
    </div>
  </div>

  <div class="top-about-1">
    <div class="top-about-1-1"></div>
    <div class="top-about-1-2"></div>
    <div class="top-about-1-3">
      <p>What is a ToDo list</p>
      <h1>ToDoリストとは</h1>
      <p>
        やるべき事をリストアップしたもの。<br><br>
        やるべきことを顕在化させることで、<br>
        今自分が何をすべきなのかということが<br>
        明確になり、集中して業務に取り組める<br>
        ようになります。<br><br>
        todoリストを活用することで、<br>
        作業効率が上がるなど<br>
        さまざまな効果が期待できます。<br>
      </p>
    </div>
  </div>

  <div class="top-about-2">
    <div class="top-about-2-1"></div>
    <div class="top-about-2-2"></div>
    <div class="top-about-2-3">
      <p>What you can do with ToDo list</p>
      <h1>ToDoリストでできること</h1>
      <p>
        ・やるべきことの抜けや漏れの防止<br>
        ・やるべきことの洗い出し<br>
        ・優先度の確認<br>
        ・仕事の進捗管理<br><br>
        todoリストを使いこなせるようになると、<br>
        仕事の効率が上がるだけでなく<br>
        漏れなく正確にタスク処理ができるように<br>
        なります。<br>
      </p>
    </div>
  </div>

  <div class="top-about-4">
    <div class="top-about-4-1">
      <div class="top-about-4-1-1">
      <h2>for a comfortable life</h2>
      <h1>Do tasks efficiently</h1>
      <p><%= link_to "with this app", new_user_session_path, class: "top-login" %>to be happy</p>
    </div>
    <div class="top-about-4-2">
    </div>
  </div>

</div>

<footer>
  <div class="top-footer-container">
    <div class="fotter-text">
      <p>about</p>
      <p>contact</p>
      <p>terms of service</p>
      <p>privacy policy</p>
    </div>
    <div class="follow">follow me</div>
    <div class="footer-icons">
      <%= link_to "#", method: :get do %>
        <i class="fab fa-line fa-3x line-green"></i>
      <% end %>
      <%= link_to "#", method: :get do %>
        <i class="fab fa-twitter-square fa-3x tw-blue"></i>
      <% end %>
      <%= link_to "#", method: :get do %>
        <i class="fab fa-facebook-square fa-3x fb-blue"></i>
      <% end %>
    </div>
</footer>