<footer>
  <div class="footer-container">
    <div class="fotter-text">
      <div class="fotter-text-1">
        <%= link_to "about", "#" %>
        <%= link_to "contact", "#" %>
      </div>
      <div class="fotter-text-2">
        <%= link_to "terms of service", "#" %>
        <%= link_to "privacy policy", "#" %>
      </div>
    </div>
    <div class="follow">follow me</div>
    <div class="footer-icons">
      <%= link_to "#", method: :get do %>
        <i class="fab fa-line fa-3x line-green"></i>
      <% end %>
      <%= link_to "#", method: :get do %>
        <i class="fab fa-twitter-square fa-3x tw-blue"></i>
      <% end %>
      <%= link_to "#", method: :get do %>
        <i class="fab fa-facebook-square fa-3x fb-blue"></i>
      <% end %>
    </div>
    </div>
</footer>