<header>
  <div class='header-container'>
    <div class='lists-left'>
      <div class="top">
        <%= link_to root_path, method: :get do %>
          <i class="fas fa-home fa-fw fa-2x "></i>
        <% end %>
      </div>
      <div class="home">
        <%= link_to tasks_path, method: :get do %>
          <i class="far fa-calendar-alt fa-fw fa-2x "></i>
        <% end %>
      </div>
    </div>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <%# ログインの有無で表示が変わるように分岐%>
        <li>
          <div class="home">
            <%= link_to new_task_path, method: :get do %>
              <i class="far fa-calendar-plus fa-fw fa-2x "></i>
            <% end %>
        </div>
        </li>
        <li>
          <div class="user">
            <%= link_to edit_user_registration_path, method: :get do %>
              <i class="fas fa-user-circle fa-fw fa-2x "></i>
            <% end %>
          </div>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "logout" do %>
            <div class="logout-icon"></div>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path, class: "login" do %>
            <div class="login-icon"></div>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path, class: "sign-up" do %>
            <div class="signup-icon"></div>
          <% end %>
        </li>
      <%# ログインの有無で表示が変わるように分岐%>
      <% end %>
    </ul>
  </div>
</header>